.ShoppingCartMainWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.ShoppingCartMain{
    margin-top: 50px;
    width: 1200px;
    display: flex;
}

.shoppingCartList{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 800px;
    background-color: inherit;
}

.about{
    width: 400px;
    height: 500px;
    background-color: aqua;
}