.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(78, 67, 67, 0.2) 26.56%, rgba(0, 0, 0, 0.2) 100%),
linear-gradient(0deg, #141212, #141212);

}

.mainTitle{
text-align: center;
width: 1147px;
margin-top: 100px;
font-size: 35px;
letter-spacing: 5px;
color: white;
}